.traits {
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: 4.5px 3.5px;
  filter: invert(100%);
}
.traits.jingyingzhanshi {
  background-image: url("/seasons/s8/jiban/8001.png");
}
.traits.miweishushi {
  background-image: url("/seasons/s8/jiban/8002.png");
}
.traits.qiangshen {
  background-image: url("/seasons/s8/jiban/8003.png");
}
.traits.doushi {
  background-image: url("/seasons/s8/jiban/8004.png");
}
.traits.huwei {
  background-image: url("/seasons/s8/jiban/8005.png");
}
.traits.juedoudashi {
  background-image: url("/seasons/s8/jiban/8006.png");
}
.traits.qixiangzhubo {
  background-image: url("/seasons/s8/jiban/8007.png");
}
.traits.heike {
  background-image: url("/seasons/s8/jiban/8008.png");
}
.traits.aixinshizhe {
  background-image: url("/seasons/s8/jiban/8009.png");
}
.traits.jixiangwu {
  background-image: url("/seasons/s8/jiban/8010.png");
}
.traits.taoqibao {
  background-image: url("/seasons/s8/jiban/8011.png");
}
.traits.qingbaotegong {
  background-image: url("/seasons/s8/jiban/8012.png");
}
.traits.hundunzhanshi {
  background-image: url("/seasons/s8/jiban/8013.png");
}
.traits.lingnengshi {
  background-image: url("/seasons/s8/jiban/8014.png");
}
.traits.qiangshou {
  background-image: url("/seasons/s8/jiban/8015.png");
}
.traits.aichengxu {
  background-image: url("/seasons/s8/jiban/8101.png");
}
.traits.huanlingzhandui {
  background-image: url("/seasons/s8/jiban/8102.png");
}
.traits.pingminyingxiong {
  background-image: url("/seasons/s8/jiban/8103.png");
}
.traits.duoluoshizhe {
  background-image: url("/seasons/s8/jiban/8104.png");
}
.traits.xiaotiancai {
  background-image: url("/seasons/s8/jiban/8105.png");
}
.traits.yuanjihuajiguangtegong {
  background-image: url("/seasons/s8/jiban/8106.png");
}
.traits.zhandoujijia {
  background-image: url("/seasons/s8/jiban/8107.png");
}
.traits.funiushouhuzhe {
  background-image: url("/seasons/s8/jiban/8108.png");
}
.traits.xingzhishouhuzhe {
  background-image: url("/seasons/s8/jiban/8109.png");
}
.traits.chaojiyingxiong {
  background-image: url("/seasons/s8/jiban/8110.png");
}
.traits.guaishou {
  background-image: url("/seasons/s8/jiban/8111.png");
}
.traits.dixiamodaotuan {
  background-image: url("/seasons/s8/jiban/8112.png");
}
