.jiban {
  background-repeat: no-repeat;
  background-size: 12px 14px;
  background-position: 3.5px 4px;
  filter: invert(100%);
}
.jiban.pingminyingxiong {
  background-image: url("/s8/8001.png");
}
.jiban.jixiangwu {
  background-image: url("/s8/8002.png");
}
